{% include 'header.html' %}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-1 bg-info">
        {% block leftside %}

        {% include 'leftside.html' %}


        {% endblock leftside %}
      </div>
      <div class="col-md-8 bg-light">

        {% block container %}


        {% endblock container %}
         
      </div>
      <div class="col-md-3 bg-info">
        {% block rightside %}
    
        {% include 'rightside.html' %}

        {% endblock rightside %}

      </div>
    </div>
  </div>

{% include 'footer.html' %}